.parents{
  
    align-items: center;
  

    .title{
        text-align: center;
        font-size: 50px;
        margin-bottom: 30px;
        font-family: 'Urbanist', sans-serif;
        font-weight: 300;
    }

    h1{
        font-family: 'Urbanist', sans-serif;
    }

   

.resourcespage{

    display: flex;

    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
 

}
}